name: Docker images
on:
  push:
    branches:
      - "main"
jobs:
  flake-check:
    runs-on: ubuntu-24.04
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v17
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: DeterminateSystems/flake-checker-action@main
      - run: nix flake check -L --all-systems
  docker:
    uses: ./.github/workflows/docker.yml
    needs: flake-check
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
      images: kalbasit/signal-api-receiver
      username: ${{ vars.DOCKERHUB_USERNAME }}
    secrets:
      password: ${{ secrets.DOCKERHUB_TOKEN }}
